<!DOCTYPE html>
    <head>
        
    
    </head>
    
    <body style="height:1500px">
        {{>header}}
        <div class="jumbotron text-center">
            
            <div class="row">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-6">
                    
                    <h1>{{location}}</h1>
                    <p>Current Temperature is {{temp}} degree C</p>
                    <p>Current Pressure is {{pressure}}</p>
                    <p>Current Humidity is {{humidity}}</p>
                    <p>Current Wind Speed is {{windSpeed}}</p>
                </div>
                <div class="col-sm-3">
                    
                </div>
            </div>
        </div>

        
        {{>footer}}
        
    </body>
</html>